[Unit]
Description=ERP4 frontend container
Wants=network-online.target
After=network-online.target erp4-backend.service

[Container]
Image=localhost/erp4-frontend:latest
Pull=never
ContainerName=erp4-frontend
Network=erp4.network
PublishPort=8080:8080

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target
