name: Link Check

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: ["**"]

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run lychee
        uses: lycheeverse/lychee-action@v1
        with:
          args: --accept 200,429 --timeout 20 --max-concurrency 10 "./**/*.md"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
